{% extends '/base.twig' %}

{% block head %}
  {{ parent() }}
  {% if app.production %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% else %}
  <link href="/css/bootstrap-3.3.7.min.css" rel="stylesheet">
  <link href="/css/font-awesome-4.7.0.min.css" rel="stylesheet">
  {% endif %}
  <link rel="stylesheet" href="/css/2016/styles.css{{ app.css_cache_buster }}">
{% endblock %}

{% block body %}
  {% block header %}
  <header id="header">
    {% block navbar %}
    <nav id="navbar" class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Menú</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="/">
            <svg width="50px" height="50px" viewBox="0 0 140 140" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="logo">
              <g>
                <path d="M70,140 C108.659934,140 140,108.659934 140,70 C140,31.3400656 108.659934,0 70,0 C31.3400656,0 0,31.3400656 0,70 C0,108.659934 31.3400656,140 70,140 Z" class="outer-ring"></path>
                <path d="M70,120 C97.6142389,120 120,97.6142389 120,70 C120,42.3857611 97.6142389,20 70,20 C42.3857611,20 20,42.3857611 20,70 C20,97.6142389 42.3857611,120 70,120 Z" class="middle-ring"></path>
                <path d="M70,95 C83.8071194,95 95,83.8071194 95,70 C95,56.1928806 83.8071194,45 70,45 C56.1928806,45 45,56.1928806 45,70 C45,83.8071194 56.1928806,95 70,95 Z" class="center-ring"></path>
                <path d="M70,71 C106.050248,71.6177586 140,89.9291525 140,70 C140,31.3400656 108.659934,0 70,0 C31.3400656,0 0,31.3400656 0,70 C0,88.7307819 36.1175085,70.4193881 70,71 Z" class="shine"></path>
              </g>
            </svg>
            {{ app.name }}
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="active" href="/about/">Acerca <span class="sr-only">(actual)</span></a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/contact/">Contacto</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}
  </header>
  {% endblock %}

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  {% block footer %}
  <footer id="footer">
    <nav class="navbar">
      <div class="container">
        <p class="navbar-text">
          <small>&copy;{{ 'now'|date('Y') }} <a href="/about/">Juan Giordana</a>.</small>
        </p>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/sitemap/">Mapa del sitio</a></li>
          <li><a href="/contact/">Contacto</a></li>
          <li>
            <a href="https://www.giordana.com.ar/" target="_blank">
              Giordana
            </a>
          </li>
          <li>
            <a href="https://github.com/juangiordana" rel="me" target="_blank" title="Juan Giordana en GitHub">
              <img alt="" src="/img/github.png">
              GitHub
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </footer>
  {% endblock %}
{% endblock %}

{% block script %}
  {{ parent() }}
  {% if app.production %}
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  {% endif %}
  <script>window.jQuery || document.write('<script src="/js/jquery-3.1.0.min.js"><\/script>')</script>

  {% if app.production %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% else %}
  <script src="/js/bootstrap-3.3.7.min.js"></script>
  {% endif %}

  <script src="/js/2016/plugins.js{{ app.js_cache_buster }}"></script>
  <script src="/js/2016/main.js{{ app.js_cache_buster }}"></script>
  {% if app.production %}
  <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-289737-1','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  {% endif %}
{% endblock %}
