{% extends 'administrator/administrator-base.twig' %}

{% block title %}Highlight file - {{ APP_NAME }} Administrator{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Highlight PHP file.</h2>

      <form enctype="multipart/form-data" method="post" role="form">
        <div class="form-group">
          <label for="code">Upload PHP file</label>
          <input type="file" name="code" id="code" />
          <p class="help-block">Upload PHP or HTML file.</p>
        </div>
        <button type="submit" class="btn btn-default">Highlight</button>
      </form>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form method="post" role="form">
        <div class="form-group {{ _ERROR.username ? 'has-error' }}">
          <label for="username">User name</label>
          <input class="form-control" id="username" name="r[username]" placeholder="User name" type="text" value="{{ post.r.username }}">
          {% if _ERROR.username %}
          <span class="help-block text-danger">Username is empty or invalid.</span>
          {% endif %}
        </div>

        <div class="form-group {{ _ERROR.password ? 'has-error' }}">
          <label for="password">Password</label>
          <input class="form-control" id="password" name="r[password]" placeholder="Password" type="password">
          {% if _ERROR.password %}
          <span class="help-block text-danger">Password is empty or incorrect.</span>
          {% endif %}
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" />
              Remember me
            </label>
          </div>
        </div>

        <button class="btn btn-default" type="submit">Sign in</button>
      </form>
    </div>
  </div>


  <form class="form-horizontal" method="post" role="form">
    <div class="form-group {{ _ERROR.username ? 'has-error' }}">
      <label class="col-md-4 control-label" for="username">User name</label>
      <div class="col-md-4">
        <input class="form-control" id="username" name="r[username]" placeholder="User name" type="text" value="{{ post.r.username }}">
        {% if _ERROR.username %}
        <span class="help-block text-danger">Username is empty or invalid.</span>
        {% endif %}
      </div>
    </div>

    <div class="form-group {{ _ERROR.password ? 'has-error' }}">
      <label class="col-md-4 control-label" for="password">Password</label>
      <div class="col-md-4">
        <input class="form-control" id="password" name="r[password]" placeholder="Password" type="password">
        {% if _ERROR.password %}
        <span class="help-block text-danger">Password is empty or incorrect.</span>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" />
            Remember me
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-4 col-md-8">
        <button class="btn btn-default" type="submit">Sign in</button>
      </div>
    </div>
  </form>

  {% if code %}
  <div class="row">
    <div class="col-md-12">
      <textarea class="form-control" rows="5" onclick="javascript:this.select()">{{ code }}</textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div>{{ code|raw }}</div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}