{% extends '@administrator/base.twig' %}

{% block title %}Password - {{ parent() }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Password</h1>

      <div class="bs-callout bs-callout-primary {{ _GET.ok or _ERROR ? 'hidden' }}">
        <h4>Update your account password.</h4>
        <p>Please, enter your current password to proceed.</p>
      </div>

      <div class="bs-callout bs-callout-success {{ not _GET.ok ? 'hidden' }}">
        <h4>Your password has been successfully updated.</h4>
        <p>Please, make sure to use this new password to sign in.</p>
      </div>

      <div class="bs-callout bs-callout-danger {{ not _ERROR ? 'hidden' }}">
        <h4>There was a problem trying to update your password.</h4>
        <p>Please, make sure you enter valid passwords for all fields.</p>
      </div>

      <form method="post" {{ not app.production ? 'novalidate' }} role="form">

        <fieldset>
          <legend>Current password</legend>
          <div class="form-group {{ _ERROR.password ? 'has-error' }}">
            <label class="control-label sr-only" for="password">Current password</label>
            <input class="form-control" id="password" name="password" placeholder="Current password" required type="password">
            <span class="help-block {{ not _ERROR.password ? 'hidden' }}">
              <strong>Current password</strong> is empty or incorrect.
            </span>
          </div>
        </fieldset>

        <fieldset>
          <legend>New password</legend>
          <div class="form-group {{ _ERROR.password_new ? 'has-error' }}">
            <label class="control-label sr-only" for="password_new">New password</label>
            <input class="form-control" id="password_new" name="password_new" placeholder="New password" required type="password">
            <span class="help-block {{ not _ERROR.password_new ? 'hidden' }}">
              <strong>New password</strong> is empty or incorrect.
            </span>
            <span class="help-block {{ not _ERROR.password_match ? 'hidden' }}">
              <strong>New passwords</strong> do not match.
            </span>
          </div>

          <div class="form-group required {{ _ERROR.password_confirmation ? 'has-error' }}">
            <label class="control-label sr-only" for="password_confirmation">Confirm your password</label>
            <input class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm password" required type="password">
            <span class="help-block {{ not _ERROR.password_confirmation ? 'hidden' }}">
              <strong>Password confirmation</strong> is empty or incorrect.
            </span>
          </div>
        </fieldset>

        <p>
          <button class="btn btn-primary btn-lg" type="submit">Change password</button>
        </p>
      </form>

    </div>
  </div>
</div>
{% endblock %}
